!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Phyzzy
  %body
    %h1 Phyzzy Demos
    %canvas#demo1
    %script(type="text/javascript" src="js/lib/three.js")
    %script(type="text/javascript" src="js/phyzzy.js")
    %script(type="text/javascript" src="app.js")
