!!! 5
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %title Phyzzy
    %link(rel="stylesheet" type="text/css" href="css/vendor/normalize.css")
    %link(rel="stylesheet" type="text/css" href="css/vendor/foundation.css")
    %link(rel="stylesheet" type="text/css" href="css/style.css")
    %script(type="text/javascript" src="js/lib/modernizr.js")
  %body
    .row
      %section.panel
        %h1 Phyzzy Demos
        %canvas#demo1
      %section.panel
        %h1
          %a(href="docs/index.html") Phyzzy Docs
    %script(type="text/javascript" src="js/lib/zepto.js")
    %script(type="text/javascript" src="js/lib/foundation.js")
    %script(type="text/javascript" src="js/lib/foundation.alerts.js")
    %script(type="text/javascript" src="js/lib/foundation.clearing.js")
    %script(type="text/javascript" src="js/lib/foundation.cookie.js")
    %script(type="text/javascript" src="js/lib/foundation.dropdown.js")
    %script(type="text/javascript" src="js/lib/foundation.forms.js")
    %script(type="text/javascript" src="js/lib/foundation.joyride.js")
    %script(type="text/javascript" src="js/lib/foundation.magellan.js")
    %script(type="text/javascript" src="js/lib/foundation.orbit.js")
    %script(type="text/javascript" src="js/lib/foundation.placeholder.js")
    %script(type="text/javascript" src="js/lib/foundation.reveal.js")
    %script(type="text/javascript" src="js/lib/foundation.section.js")
    %script(type="text/javascript" src="js/lib/foundation.tooltips.js")
    %script(type="text/javascript" src="js/lib/foundation.topbar.js")
    %script(type="text/javascript" src="js/lib/foundation.interchange.js")
    %script(type="text/javascript" src="js/lib/three.js")
    %script(type="text/javascript" src="js/lib/phyzzy.js")
    %script(type="text/javascript" src="js/init.js")
    %script(type="text/javascript" src="js/app.js")
