{
  "title" :             "Phyzzy.coffee",
  "content_file" :      "README.md",
  "include_index" :     true,
  "docco_files" :       "src/*.coffee",
  "header" :            "Phyzzy",
  "subheader" :         "Coffeescript physics engine",
  "background" :        "diagonal-noise",
  "github" :            "https://github.com/brebory/phyzzy"
}

